/* importar tipografia */
@font-face {
    font-family: "Italiana";
    src: url("../recursos/fonts/Italiana-Regular.ttf");
}

@font-face {
    font-family: "WebSymbols";
    src: url("../recursos/fonts/websymbols-regular-webfont.ttf");
}

/* variables para colores */
:root{
    --color-fondo: rgba(234, 238, 244, 1);
    --color-principal:rgba(17, 60, 131, 1);
    --color-botones: white;
    --color-footer:rgba(162, 186, 255, 1);
    --color-letras: #333;
    --success-bg: #C8E6C9; 
    --success-text: #2E7D32; 
}

/* Estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilo body */
body{
    background-color: var(--color-fondo);
    color: var(--color-letras);
    font-family: 'Italiana';
    font-weight: bold;
}

/* estilo header */
header{
    text-align: center;
    background-color: var(--color-principal);
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.logo{
    width: 8%;
    height: auto;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;

}

/* estilo botones */
nav{
    display: inline-block;
    margin: 0 auto;
    margin-top: 40px;
}

nav ul li{
    display: inline-block;
}

nav a {
    color: var(--color-botones);
    margin: 0 15px;
    text-decoration: none;
    font-size:  1.2em;
    transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
    padding: 10px;
}

nav a:hover{
    background-color: var(--color-botones);
    color: var(--color-letras);
    border-radius: 5px;
}

/* estilos carrito */
.cart{
 float: right;
}

.cart img{
    width: 55px;
    height: auto;
    margin-top: 25px;
    background-color: var(--color-botones);
    padding: 5px;
    border-radius: 5px;
    margin-right: 15px;
    transition: background-color 0.3s;

}

.cart img:hover{
    background-color: #8f8f8f;
    
}

/* estilo boton inicio sesion */
.inicio{
    font-family: 'WebSymbols';
    font-size: 35px;
    border-radius: 5px;
    padding: 2px;
    transition: background-color 0.3s;
}

.cerrar-sesion{
    padding: 5px;
    background-color: var(--color-botones);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
    border-radius: 5px;
    color: black;
}

.inicio:hover{
    background-color: gray;
}

/* estilo boton contacto */

.contacto{
    font-family: 'WebSymbols';
    font-size: 35px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 2px;
    transition: background-color 0.3s;

}

.contacto-boton{
    margin-top: 5px;
    padding: 5px;
    background-color: var(--color-botones);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
    border-radius: 5px;
    color: black;
    margin-bottom: 5px;
    
}

.contacto:hover{
    background-color: gray;
}

/* estilo aside de los botones */
.aside-botones{
    width: 150px;
    float: right;
    text-align: center;
}

/* estilo formulario */

.form-cont{
    border: 1px solid var(--color-letras);
    border-radius: 10px;
    width: 400px;
    margin: 50px auto;
    padding: 20px 30px;
    background-color: white;
    box-shadow:  5px 5px 15px rgba(13, 93, 174, 0.3), 
                -5px -5px 15px rgba(0, 0, 0, 0.1),   
                inset 0 3px 6px rgba(0, 0, 0, 0.1);
}

.form-cont h2{
    font-size: 1.5em;
    color: var(--color-letras);
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--color-footer);
    border-radius: 5px;
    padding: 5px;
}

.form-grupo{
    margin-bottom: 15px;
}

.form-grupo label{
    display:  block;
    font-size: 0.9rem;
    color: var(--color-letras);
    margin-bottom: 5px;
}

.form-grupo input,
.form-grupo textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(200, 197, 197);
    overflow: hidden;
}

.form-grupo input:focus,
.form-grupo textarea:focus{
    border-color: #333;
    outline: none;
}

.boton{
    display: block;
    background-color: var(--color-letras);
    color: var(--color-botones);
    margin: 0 auto;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, borde-radius 0.3s;
}

.boton:hover{
    background-color: var(--color-botones);
    color: var(--color-letras);
    border-radius: 5px;
}

/* Estilo mensajes de error */
.error {
    color: var(--error-color);
    background: rgba(211, 47, 47, 0.1);
    border: 1px solid var(--error-color);
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    width: 35%;
    margin: 0 auto;
}

.mensaje{
    background-color: var(--success-bg);
    color: var(--success-text);
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid var(--success-text);
    text-align: center;
    width: fit-content;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* estilos footer */
footer {
    background-color: var(--color-footer);
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    display: table;
    width: 100%;
    border-radius: 5px;
}

.ubicacion, .redes {
    margin-bottom: 15px;
}

.marcas {
    text-align: center;
    margin: 15px 0;
}

.img-marca {
    display: inline-block;
    margin: 0 10px; 
    vertical-align: middle; 
}

.img-marca img {
    width: 80px; 
    height: auto;
}

.redes .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: var(--color-letras);
    color: white;
    line-height: 30px;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;

}

.redes .icon:hover{
    background-color: var(--color-botones);
    color: var(--color-letras);
}

.ubicacion, .marcas, .redes{
    display: table-cell;
    width: 33%;
}

.ubicacion a{
    text-decoration: none;
    color: var(--color-letras);
    padding: 3px;
    transition: background-color 0.3s, border-radius 0.3s, color 0.3s;
}

.ubicacion a:hover{
    background-color: var(--color-letras);
    color: var(--color-botones);
    border-radius: 5px;
}

#menu, #menu-check{
    display: none;
}

/* punto de ruptura */
@media (max-width: 400px){

    /* menu hamburguesa */
    #menu-check:not(:checked) ~ nav{
        display: none;
    }

    #menu-check:checked ~ nav{
        display: block;
    }

    #menu{
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        position: absolute;
        right: 0.8em;
        top: 1.5em;
        border: 2px solid black;
        border-radius: 5px;
        z-index: 9999;
        margin-right: 60px;
    }

    #menu:hover{
        color: var(--color-letras);
        background-color: var(--color-botones);
    }

    #menu-cerrar{
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir{
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar{
        display: block;
    }

    header div.contendor nav{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 0.5em;
        padding-right: 1.5em;
        color: white;
    }

    header div.contendor nav ul a{
        color: var(--color-letras);
    }

    header div.contendor nav ul, header div.contenedor nav ul li{
        width: 50%;
        display: block;
        text-align: center;
        background-color: var(--color-footer);
        border-radius: 5px;
        margin: 0 auto;
    }

    .logo{
        width: 15%;
    }

    .aside-botones{
        display: none;
    }
}